.hologram-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }
  
  .card {
    position: relative;
    width: 200px;
    height: 170px;
    margin-top: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: float 1s infinite alternate;
  }
  
  .card .holo {
    position: absolute;
    top: 150%; /* Adjust the top position to control where the hologram effect appears */
    left: 10%;
    z-index: 1;
    width: 150px;
    height: 5px;
    margin: -5px auto 0;
    background-color: rgba(255, 238, 8, 0.35); /* Adjust color to match your shadow color */
    border-radius: 100%;
    filter: blur(2.5px);
    transform: perspective(100px) rotateX(-30deg);
    transform-style: preserve-3d;
    animation: holographic 1.5s infinite alternate;
    backface-visibility: hidden;
  }
  
  .card .holo:after {
    position: absolute;
    left: -10px;
    right: -10px;
    content: "";
    height: 10px;
    background-color: rgba(255, 238, 8, 0.5);
    border-radius: 100%;
    filter: blur(2.5px);
  }
  
  @keyframes float {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(-30px);
    }
  }
  
  @keyframes holographic {
    from {
      box-shadow:
        0 -75px 5px rgba(255, 238, 8, 0.15),
        0 -1px 2px rgba(255, 238, 8, 0.5),
        0 -45px 5px rgba(255, 238, 8, 0.15),
        0 -2px 3px rgba(255, 238, 8, 0.5),
        0 -3px 4px rgba(255, 238, 8, 0.5),
        0 -4px 6px rgba(255, 238, 8, 0.5),
        0 -5px 10px rgba(255, 238, 8, 0.75),
        0 -7px 20px rgba(255, 238, 8, 0.75),
        0 -10px 30px rgba(255, 238, 8, 0.75),
        0 -15px 40px rgba(255, 238, 8, 0.75),
        0 -25px 50px rgba(255, 238, 8, 0.75),
        0 -35px 60px rgba(255, 238, 8, 0.85),
        0 -45px 70px rgba(255, 238, 8, 0.95),
        0 -65px 80px rgba(255, 238, 8, 1),
        0 -75px 90px rgba(255, 238, 8, 1);
    }
    to {
      box-shadow:
        0 -1px 5px rgba(255, 238, 8, 0.15),
        0 -1px 2px rgba(255, 238, 8, 0.5),
        0 -1px 5px rgba(255, 238, 8, 0.15),
        0 -2px 3px rgba(255, 238, 8, 0.5),
        0 -3px 4px rgba(255, 238, 8, 0.5),
        0 -4px 6px rgba(255, 238, 8, 0.5),
        0 -5px 7px rgba(255, 238, 8, 0.75),
        0 -7px 10px rgba(255, 238, 8, 0.75),
        0 -10px 15px rgba(255, 238, 8, 0.75),
        0 -15px 20px rgba(255, 238, 8, 0.75),
        0 -25px 25px rgba(255, 238, 8, 0.75),
        0 -35px 30px rgba(255, 238, 8, 0.85),
        0 -45px 35px rgba(255, 238, 8, 0.95),
        0 -65px 40px rgba(255, 238, 8, 1),
        0 -75px 50px rgba(255, 238, 8, 1);
    }
  }
  